body{
    background-color: aliceblue;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin: auto;
    color: black;
    font-display: block;
    font-family:monospace;
    
        
}
